<div class="h-100 position-relative form-content ">
  <div class="row">
    <!--form-->
    <form [formGroup]="userDetails" (ngSubmit)="onSubmit()" class="form-details bg-white col-md-6 ">
      <div class="col-md-12 p-5">
        <div class="form-group flex-wrap">
          <h4 class="text-center">Registration</h4>

          <div class="form-input mt-5">
            <input class="input-field" type="text" formControlName="username" autofocus="true" required />
            <span class="input-label">Username</span>
            <span class="input-underline"></span>
            <div *ngIf="formControls.username.invalid && (formControls.username.dirty || formControls.username.touched)">
              <div *ngIf="formControls.username.errors.minlength" style="color: red;">
                <b>Name must be at least 4 characters long.</b>
              </div>
            </div>
          </div>

          <div class="form-input ">
            <input class="input-field" type="password" formControlName="password" required />
            <span class="input-label">Password</span>
            <div class="input-underline"></div>
            <div *ngIf="formControls.password.invalid && (formControls.password.dirty || formControls.password.touched)">
              <div *ngIf="formControls.password.errors.minlength" style="color: red;">
                <b>Password must be at least 4 characters long.</b>
              </div>
              <div *ngIf="formControls.password.errors.maxlength" style="color: red;">
                <b>Password must not be more than 10 characters long.</b>
              </div>
            </div>
          </div>

          <div class="form-input mb-5">
            <input class="input-field" type="password" formControlName="confirmPassword" required />
            <span class="input-label">Confirm Password</span>
            <div class="input-underline"></div>
            <div *ngIf="formControls.confirmPassword.invalid && (formControls.confirmPassword.dirty || formControls.confirmPassword.touched)">
              <div *ngIf="formControls.confirmPassword.errors.minlength" style="color: red;">
                <b>Password must be at least 4 characters long.</b>
              </div>
              <div *ngIf="formControls.confirmPassword.errors.maxlength" style="color: red;">
                <b>Password must not be more than 10 characters long.</b>
              </div>
              <div *ngIf="formControls.confirmPassword.errors.mustMatch" style="color: red;">
                Passwords must match
              </div>
            </div>
          </div>
          <div class="mt-5 mt-sm-0 ">
            <button type="submit" [disabled]="!userDetails.valid"
              class="btn btn-md btn-primary py-2 px-4 mr-2 mr-md-0  mb-2 mb-sm-0">Submit</button>
            <button type="reset"
              class="btn btn-md btn-danger text-white py-2 px-4 ml-md-3  ml-0 mt-md-0 mb-2 mb-sm-0">Clear</button>
          </div>
        </div>
      </div>
    </form> -->
    <!--end:form-->
  </div>
</div>