<div class="h-100 d-flex justify-content-center align-items-center ">
  <div class=" justify-content-center align-items-center  col-md-6  m-0  p-2 p-md-5">
    <!--form-->
    <form [formGroup]="userDetails" (ngSubmit)="onSubmit()"
      class=" d-flex justify-content-center  align-items-center bg-white  shadow-lg m-0 p-0 position-relative ">
      <div class="col-md-12 ">
        <div class="form-group px-md-4 px-0">
          <h4 class="text-center py-4">Registration</h4>
          <div class="form-input mt-3 mt-md-2">
            <input id="inputUsername" class="input-field" type="text" autofocus="true" formControlName="username"
              required />
            <span class="input-label p-2">Username</span>
            <span class="input-underline"></span>
            <div
              *ngIf="formControls.username.invalid && (formControls.username.dirty || formControls.username.touched)">
              <div *ngIf="formControls.username.errors.minlength" style="color: red;">
                <b>Name must be at least 4 characters long.</b>
              </div>
              <div *ngIf="formControls.username.errors.pattern" style="color: red;">
                <b>Only characters allowed.</b>
              </div>
            </div>
          </div>
          <div class="form-input">
            <input id="Password" class="input-field" type="password" formControlName="password" required />
            <span class="input-label p-2">Password</span>
            <div class="input-underline"></div>
            <div
              *ngIf="formControls.password.invalid && (formControls.password.dirty || formControls.password.touched)">
              <div *ngIf="formControls.password.errors.minlength" style="color: red;">
                <b>Password must be at least 6 characters long.</b>
              </div>
              <div *ngIf="formControls.password.errors.maxlength" style="color: red;">
                <b>Password must not be more than 10 characters long.</b>
              </div>
            </div>
          </div>
          <div class="form-input">
            <input id="ConfirmPassword" class="input-field" type="password" formControlName="confirmPassword"
              required />
            <span class="input-label p-2">Confirm Password</span>
            <div class="input-underline"></div>
            <div
              *ngIf="formControls.confirmPassword.invalid && (formControls.confirmPassword.dirty || formControls.confirmPassword.touched)">
              <div *ngIf="formControls.confirmPassword.errors.minlength" style="color: red;">
                <b>Password must be at least 6 characters long.</b>
              </div>
              <div *ngIf="formControls.confirmPassword.errors.maxlength" style="color: red;">
                <b>Password must not be more than 10 characters long.</b>
              </div>
              <div *ngIf="formControls.confirmPassword.errors.mustMatch" style="color: red;">
                Passwords must match
              </div>
            </div>
          </div>
          <div class="mt-1  d-flex justify-content-center py-4  flex-wrap">
            <button type="submit" class="btn btn-lg btn-primary py-2 px-md-5 mr-2 mr-md-0 mb-sm-0"
              [disabled]="!userDetails.valid">SignIn</button>
          </div>
        </div>
      </div>
    </form>
    <!--end:form-->
  </div>
</div>