// Theme Primary Color
$primary: #3e9cfc;
$secondary: #6b8393;
$body-bg:#f7f8fc;
$dark:#343a40;
$breadcrumb-active-color:$dark;


//login-Registraion
$input-border:#ccd4da;
$form-bg:#cacaca;
$white:#ffffff;
$grey:#868e96;
$gray-700: #c8cccf;
$text-muted:$gray-700;
