* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input[type="checkbox"] {
    cursor: pointer;
}

a,
button,
.btn {
    cursor: pointer;
}

figure {
    margin-bottom: 0;
}

.pointer {
    cursor: pointer;
}