// bootstrap base for body
$font-family-base: "Lato",
sans-serif;
$font-size-base: 1rem;
$font-weight-base:400;
// sidebsar width
$expanded-sidebar-width:250px;
$collapse-sidebar-width:65px;
$font-weights:("light": 300, "regular": 400, "medium": 700, "bold": 900);


//login registration
$form-margin-bottom: 1rem;
  $label-font-size: 1rem;
  $label-font-size-focus: .85rem;
  $label-icon-spacing: 2.25rem;
  $input-padding-top: 1rem;
  $input-padding-right: 0;
  $input-padding-bottom: .5rem;
  $input-padding-left: .5rem;
 


// border
$border-radius: 2px;
// breadcrum
$breadcrumb-font-size:1.75rem;
$breadcrumb-divider:quote(">");
