
<header  class="border-bottom py-1">
    <div class="d-flex justify-content-between">
        <div class=" d-flex">
            <form class="form-inline my-2 my-lg-0 nav-search-relative ml-3">
                <label class="fa fa-search search-icon-absolute m-0 py-2" for="searchLink"></label>
                <input class="form-control mr-sm-2 pr-5 border-0 rounded-0 " type="search" placeholder="Search..." aria-label="Search" id="searchLink">
            </form>
        </div>
        <div class="d-flex align-items-center">
                  <!-- dropdown -->

            <div class="dropdown mr-2">
                <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-bell-o notification-icon ">
                        <span class="badge badge-danger p-1 notification-badge">1</span>
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right mt-1" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">notification 1</a>
                  <a class="dropdown-item my-2" href="#">notification 2</a>
                  <a class="dropdown-item border-top  text-primary" href="#">View more</a>
                </div>
              </div>

            <!-- end dropdown -->
            <div class="mr-1 pt-1">
                <!--  -->
                <div class="btn-group ">
                    <figure class="m-0">
                        <img src="assets/images/lady-3.jpg" alt="" class="header-img-size rounded-circle">
                    </figure>
                    <button type="button" class="btn p-1 dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                         
                    </button>
                    <div class="dropdown-menu dropdown-menu-right mt-1" aria-labelledby="dropdownMenuReference">
                        <a class="dropdown-item" href="#">View Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#">Logout </a>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>

    </div>
</header>

