<section class="wrapper d-flex h-100 overflow-hidden">
    <aside class="primary-nav overflow-hidden d-flex flex-column side-navbar-color bg-white " *ngIf="showHeaderSidebar">
        <cmp-sidebar class="overflow-hidden d-flex flex-column"></cmp-sidebar>
    </aside>
    <section class="content-wrapper flex-grow-1 d-flex flex-column overflow-hidden">
        <cmp-header class="flex-shrink-0" *ngIf="showHeaderSidebar"></cmp-header>
        <div class="flex-grow-1 overflow-hidden">
            <router-outlet (activate)="changeOfRoutes()">
            </router-outlet>
        </div>
    </section>
</section>