// Form controls styles goes here


#addEdit{
    background-color: #f7f8fc;
}
#addNew{
    background-color: #ffffff;
}

#editDetail{
    background-color: #ffffff;
}

.edit-icon{
    color: $primary;
}