.content-body,
.top-bar {
    padding: 20px 90px;
    @media (max-width: 768px) {
        padding: 20px 20px;
    }
}

.company-form-container {
    .nbc-logo {
        height: 100px;
        width: 100px;
        border: 4px solid lighten($secondary, 40%);
    }
    .form-title {
        font-size: 0.90rem;
    }
    .form-group,
    #attachedFile {
        border: 1px solid $gray-400;
        border-radius: $border-radius;
    }
    .form-control-file {
        outline: none;
    }
    .form-control {
        padding: 2px 10px;
        height: 24px;
        color: $black;
        border: none;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    .label {
        padding-left: 10px;
        font-size: 14px;
    }
    select {
        -webkit-appearance: none;
    }
     ::placeholder {
        color: $black;
    }
    .custom-select-arrow {
        &::after {
            content: '';
            height: 8px;
            width: 8px;
            border: 2px solid $secondary;
            position: absolute;
            top: 4px;
            right: 10px;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
            pointer-events: none;
        }
    }
    // custom radio button
    .custom-input-radio {
        &:checked,
        &:not(:checked) {
            @include position($left: -9999px);
            // position: absolute;
            // left: -9999px;
        }
        &:checked,
        &:not(:checked) {
            &+label {
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;
                &:before {
                    content: "";
                    @include position();
                    width: 18px;
                    height: 18px;
                    border: 1px solid $gray-400;
                    border-radius: 100%;
                    background: $white;
                }
                &:after {
                    content: "";
                    width: 10px;
                    height: 10px;
                    background: $primary;
                    @include position($top: 4px, $left: 4px);
                    border-radius: 100%;
                    transition: all 0.2s ease;
                }
            }
        }
        &:not(:checked) {
            &+label {
                &:after {
                    opacity: 0;
                    transform: scale(0);
                }
            }
        }
        &:checked {
            &+label {
                &:after {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
    // custom file control
    .custom-file-label::after {
        display: none;
    }
    .custom-file-input {
        &:focus {
            &~.custom-file-label {
                outline: none;
                box-shadow: none;
            }
        }
    }
    #closeFile {
        top: 14px;
        right: 20px;
        z-index: 3;
        color: $gray-500;
    }
    // attached files
    .attachedFile {
        height: 45px;
        color: $black;
    }
}

// Document Add - Edit 
.add-edit-r {
    border-radius: 20px;
}