/*Table*/
.table {
  border-collapse: separate;
  border-spacing: 0 1em;
    tr {
      th {
        font-weight: map-get($font-weights, "regular");
        position: relative;
        font-size: 14px;
        vertical-align: middle;
        padding: 0 0 0 0.75rem;
        .sort-asc {
          position: absolute;
          bottom: 7px;
          background: none;
          border: none;
          padding: 0;
          margin: 0;
        }
        .sort-desc {
          position: absolute;
          top: 5px;
          background: none;
          border: none;
          padding: 0;
          margin: 0;
        }
      }
  }
  tbody {
      td {
        font-weight: map-get($font-weights, "medium");
        vertical-align: middle;
      }
  }
}

.user-icon {
  height: 2em;
  width: 2em;
}

.company-img {
  width: 30px;
  height: 30px;
}

.fix-min-width {
  min-width: 172px;
}

.th-largewidth {
  min-width: 195px;
}

.th-smallwidth{
  min-width: 140px;
}




