.table {
    border-collapse: separate;
    border-spacing: 0 1em;
    thead {
      tr {
        th {
          font-size: 14px;
          font-weight: map-get($font-weights, "regular");
          vertical-align: middle;
          position: relative;
          .short-up {
            position: absolute;
            bottom: 8px;
            background: none;
            border: none;
            padding: 0;
            margin: 0;
          }
          .short-down {
            position: absolute;
            top: 8px;
            background: none;
            border: none;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
    tbody {
      tr {
        vertical-align: middle;
        td {
          font-weight: map-get($font-weights, "medium");
          vertical-align: middle;
        }
      }
    }
  }
  
  .user-icon {
    height: 2em;
    width: 2em;
  }
  
  .fix-min-width {
    min-width: 172px;
  }
  
  .td-companymwith {
    min-width: 195px;
  }
  
  .table-responsive {
    height: 90%;
    @media (max-width:620px) {
      height: 82%;
    }
  }
  
  .company-img {
    width: 30px;
    height: 30px;
  }
  
  // .document-table,
  // .company-table {
  //   padding: 20px 97px;
  //   @media (max-width: 425px) {
  //     & {
  //       padding: 15px 20px;
  //     }
  //   }
  // }
  