table {
  border-collapse: separate;
  border-spacing: 0 1rem;
  th {
      font-weight: 200;
  }
}
.company-img {
  width: 30px;
  height: 30px;
}

.dropdown-menu-position {
  position: absolute;
  top: 15px;
  left: -140px;
}

.td-mwidth{
  min-width: 172px;
}
