<aside id="primaryNav" class="bg-dark-1 d-flex flex-column overflow-hidden">
    <!-- navigations -->
    <nav class="nav overflow-auto">
        <ul class="navbar-nav w-100">
            <li class="nav-item mb-4 active">
                <a class="nav-link py-3 px-3" href="#">
                    <span class="fa fa-home pr-4 fa-lg"></span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item mb-4">
                <a class="nav-link py-3 px-3" href="#">
                    <span class="fa fa-user pr-4 fa-lg"></span>
                    <span>Fighters</span>
                </a>
            </li>
            <li class="nav-item mb-4">
                <a class="nav-link py-3 px-3" href="#">
                    <span class="fa fa-calendar pr-4 fa-lg"></span>
                    <span>Time table</span>
                </a>
            </li>
            <li class="nav-item mb-4">
                <a class="nav-link py-3 px-3" href="#">
                    <span class="fa fa-home pr-4 fa-lg"></span>
                    <span>Workout Routine </span>
                </a>
            </li>
            <li class="nav-item mb-4">
                <a class="nav-link py-3 px-3" href="#">
                    <span class="fa fa-building pr-4 fa-lg"></span>
                    <span>Nutrision Plan</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- end navigations -->
</aside>