    /* document Main Content */
    .document-header {
        padding: 20px 100px;
        @media (max-width: 425px) {
            padding: 20px 20px;
        }
    }
    /* Company Main Content */
    .company-header{
        padding: 20px 50px;
        @media (max-width: 425px) {
            & {
                padding: 20px 20px;
            }
        }
    }
    
    .delete-btn {
        font-size: 25px;
    }
