.login-form {
  position: relative;
  max-width: 500px;
}

.user-avatar-holder {
  position: absolute;
  top: -50px;
  right: 50%;
  left: 50%;

  .user-avatar {
    width: 80px;
    height: 80px;
  }
}

.form-input {
  display: block;
  position: relative;
  margin-bottom: $form-margin-bottom;

  .input-field {
    padding: {
      top: $input-padding-top;
      right: $input-padding-right;
      bottom: $input-padding-bottom;
      left: $input-padding-left;
    }
    outline-style: none;
    width: 100%;

    & ~ .input-label {
      color: $grey;
      font-size: $label-font-size;
      margin: 0;
      pointer-events: none;
      position: absolute;
      top: $input-padding-top;
      left: $input-padding-left;
      transition: top 0.2s, font 0.2s;
      z-index: 1;
    }
    &:focus,
    &:valid {
      & ~ .input-label {
        top: 0;
        font-size: $label-font-size-focus;
      }
    }
  }
}
