.user-avatar-holder {
  position: absolute;
  top: -50px;
  right: 50%;
  left: 50%;

  .user-avatar {
    width: 80px;
    height: 80px;
   }
}
.form-input {
  display: block;
  position: relative;
  margin-bottom: $form-margin-bottom;
      
  .input-field {
    outline-style: none;
    width: 100%;
    padding: {
      top: $input-padding-top;
      right: $input-padding-right;
      bottom: $input-padding-bottom;
      left: $input-padding-left;
    };

    & ~ .input-label {
      color: $grey;
      font-size: $label-font-size;
      margin: 0;
      pointer-events: none;
      position: absolute;
        top: $input-padding-top;
        left: $input-padding-left;
      transition: top .2s,font .2s;
      z-index: 1;
    }
     &:hover, &:focus {
      & ~ .input-label {
        color: $input-underline-color-focus;
      }
    }
    &:focus, &:valid {
      & ~ .input-label {
        top: 0;
        font-size: $label-font-size-focus;
      }
    }
    &:-webkit-autofill {
      & ~ .input-label {
        top: 0;
        font-size: $label-font-size-focus;
      }
    }
  }
}
