
.form-content{
    background-color: $form-bg;

    .form-details{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        .form-control{
            background: transparent;
            border: 0px;
            border-bottom: 1px solid $input-border;
            border-radius: 0px;
            outline: none;
            padding: 0;
            &:focus{
                box-shadow: none;
            }
        }
        
    }
}