.primary-nav {
    width: 65px;
    flex: 0 0 65px;
    .navbar {
        padding: 0;
        .nav-link {
            padding: 20px 20px;
            border-left: 5px solid transparent;
            transition: all .6s;
            &:hover {
                border-left: 5px solid $primary;
                color: $primary;
                transition: all .5s;
            }
        }
    }
}