<!-- company form content -->
<div class="content h-100 overflow-hidden d-flex flex-column">
    <!-- content header -->
    <div
        class="top-bar d-flex flex-wrap justify-content-between align-items-center px-3 px-md-4 flex-shrink-0 mb-3 mb-md-0">
        <!-- breadcrum -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent px-0">
                <li class="breadcrumb-item"><a href="#" class="text-secondary">Companies</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add</li>
            </ol>
        </nav>
        <!-- <breadcrumb #parent aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent px-0">
                <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
                    <li *ngIf="!route.terminal" class="breadcrumb-item">
                        <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
                    </li>
                    <li *ngIf="route.terminal" class="breadcrumb-item active" aria-current="page">
                        {{ route.displayName }}</li>
                </ng-template>
            </ol>
        </breadcrumb> -->
        <!-- form action buttons -->
        <div class="d-flex flex-wrap d-md-block">
            <button class="btn bg-white px-5 py-2 rounded-0 mr-0 mr-sm-3 flex-grow-1 my-2 my-sm-0">Cancel</button>
            <button class="btn btn-primary px-5 py-2 rounded-0 flex-grow-1 my-2 my-sm-0"
                (click)="onSubmit()">Save</button>
        </div>
    </div>
    <!-- end content header -->
    <!-- content body -->
    <div class="content-body px-3 px-md-4 overflow-auto">
        <!-- form container -->
        <div class="company-form-container bg-white mt-2 mb-5 py-4">
            <figure class="text-center pt-4 pb-4">
                <img src="../../../../assets/images/nbc-logo.png" class="nbc-logo rounded-circle" alt="Company Logo">
            </figure>
            <!-- company form -->
            <div class="row no-gutters justify-content-center px-3">
                <div class="col-12 col-md-7">
                    <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
                        <div class="form-row mx-0">
                            <!-- Personal Information  -->
                            <h6 class="font-medium text-secondary">Personal Information</h6>
                            <!-- client name  -->
                            <div class="col-12 px-0">
                                <div class="form-group d-flex flex-column">
                                    <label for="clientName" class="label text-secondary mb-0">Client
                                        Name</label>
                                    <input type="text" class="form-control" id="clientName" formControlName="clientName"
                                        [ngClass]="{ 'is-invalid': submitted && controls.clientName.errors }">
                                    <div *ngIf="submitted && controls.clientName.errors" class="invalid-feedback">
                                        <div *ngIf="controls.clientName.errors.required">client name is required</div>
                                        <div *ngIf="controls.clientName.errors.pattern">only characters allowed</div>
                                    </div>
                                </div>
                            </div>

                            <!-- radio buttons  -->
                            <div class="col-12 mb-3 px-0">
                                <div class="custom-control-inline">
                                    <input type="radio" value="client" formControlName="clientType"
                                        class="custom-input-radio pt-4" id="customRadio">
                                    <label class="custom-control-label" for="customRadio">Client</label>
                                </div>
                                <div class="custom-control-inline">
                                    <input type="radio" value="supplier" formControlName="clientType"
                                        class="custom-input-radio pt-4" id="customRadio2" checked>
                                    <label class="custom-control-label" for="customRadio2">Supplier</label>
                                </div>
                                <div class="custom-control-inline">
                                    <input type="radio" value="both" formControlName="clientType"
                                        class="custom-input-radio pt-4" id="customRadio3">
                                    <label class="custom-control-label" for="customRadio3">Both</label>
                                </div>
                            </div>

                            <!-- type of business  -->
                            <div class="col-md-6 pl-0 pr-0 pr-md-3">
                                <div class="form-group d-flex flex-column">
                                    <label for="businessType" class="label text-secondary mb-0">Type of
                                        Business</label>
                                    <select formControlName="businessType" class="form-control bg-transparent"
                                        id="businessType">
                                        <option value="">--select business type--</option>
                                        <option value="private">Private</option>
                                        <option value="public">Public</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Location  -->
                            <div class="col-md-6 px-0">
                                <div class="form-group d-flex flex-column">
                                    <label for="location" class="label text-secondary mb-0">Location</label>
                                    <select formControlName="location" class="form-control bg-transparent"
                                        id="businessType"
                                        [ngClass]="{ 'is-invalid': submitted && controls.location.errors }">
                                        <option value="">--select location--</option>
                                        <option value="London">London</option>
                                        <option value="USA">USA</option>
                                        <option value="LA">LA</option>
                                    </select>
                                    <div *ngIf="submitted && controls.location.errors" class="invalid-feedback">
                                        <div *ngIf="controls.location.errors.required">location is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- contact no  -->
                            <div class="col-md-6 pl-0 pr-0 pr-md-3">
                                <div class="form-group d-flex flex-column">
                                    <label for="contactNo" class="label text-secondary mb-0">Contact Number</label>
                                    <input type="number" formControlName="contactNumber" class="form-control "
                                        id="contactNo"
                                        [ngClass]="{ 'is-invalid': submitted && controls.contactNumber.errors }">
                                    <div *ngIf="submitted && controls.contactNumber.errors" class="invalid-feedback">
                                        <div *ngIf="controls.contactNumber.errors.required">contact no. is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- email  -->
                            <div class="col-md-6 px-0">
                                <div class="form-group d-flex flex-column">
                                    <label for="emailAddress" class="label text-secondary mb-0">Email
                                        Adress</label>
                                    <input type="email" formControlName="email" class="form-control " id="emailAddress"
                                        [ngClass]="{ 'is-invalid': submitted && controls.email.errors }">
                                    <div *ngIf="submitted && controls.email.errors" class="invalid-feedback">
                                        <div *ngIf="controls.email.errors.required">email is required</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Other Information  -->
                            <h6 class="font-medium text-secondary">Other Information</h6>
                            <!-- Contact Person  -->
                            <div class="col-12 px-0">
                                <div class="form-group d-flex flex-column">
                                    <label for="contactPerson" class="label text-secondary mb-0">Contact
                                        Person</label>
                                    <input type="text" formControlName="contactPersonName" class="form-control"
                                        id="contactPerson"
                                        [ngClass]="{ 'is-invalid': submitted && controls.contactPersonName.errors }">
                                    <div *ngIf="submitted && controls.contactPersonName.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="controls.contactPersonName.errors.required"> contact person name is
                                            required</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Designation  -->
                            <div class="col-md-6 pl-0 pr-0 pr-md-3">
                                <div class="form-group d-flex flex-column">
                                    <label for="designation" class="label text-secondary mb-0">Designation</label>
                                    <input type="text" formControlName="designation" class="form-control"
                                        id="designation"
                                        [ngClass]="{ 'is-invalid': submitted && controls.designation.errors }">
                                    <div *ngIf="submitted && controls.designation.errors" class="invalid-feedback">
                                        <div *ngIf="controls.designation.errors.required">designation is required</div>
                                    </div>
                                </div>
                            </div>

                            <!-- contact no  -->
                            <div class="col-md-6 px-0">
                                <div class="form-group d-flex flex-column">
                                    <label for="otherContactNo" class="label text-secondary mb-0">Contact
                                        Number</label>
                                    <input type="text" formControlName="contactPersonMobile" class="form-control"
                                        id="clientName"
                                        [ngClass]="{ 'is-invalid': submitted && controls.contactPersonMobile.errors }">
                                    <div *ngIf="submitted && controls.contactPersonMobile.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="controls.contactPersonMobile.errors.required">contact person mobile
                                            no. is required</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Attachment  -->
                            <h6 class="font-medium text-secondary">Attachment</h6>
                            <div class="col-6 ml-auto">
                                <label for="customFile" class="text-primary float-right">
                                    <span class="fa fa-plus-square-o fa-lg"></span>
                                </label>
                            </div>
                            <!-- attached files -->
                            <div class="col-12 col-md-6 pl-0 pr-0 pr-md-3">
                                <div class="custom-file position-relative">
                                    <input type="file" class="custom-file-input"
                                        id="customFile"
                                        [ngClass]="{ 'is-invalid': submitted && controls.attachment.errors }">
                                    <label class="custom-file-label" formControlName="attachment" for="customFile">file name</label>
                                    <div *ngIf="submitted && controls.attachment.errors" class="invalid-feedback">
                                        <div *ngIf="controls.attachment.errors.required">attachment is required</div>
                                    </div>
                                </div>
                                <label id="closeFile"
                                    class="fa fa-times-circle position-absolute text-secondary"></label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end contnent body -->
</div>